.service-card {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .service-card:hover {
    background-color: #57C675;
  }
  
  .service-card:hover .service-title,
  .service-card:hover .service-tagline,
  .service-card:hover .service-description {
    color: white;
  }
  